<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinized">
      <p><label for="string">Enter String: </label><input name="string" type="text"/></p>
      <input "submit" id="Submit">
    </form>
  </body>
</html>